build
/tools/HashGenerator/Debug/
*.*

# But not these files...
!*.xml
!*.psd
!*.git*
!*.json
!*.code-workspace
!*.xml
!*.png
!*.nfo
!dollz3.exe
!*.c
!*.cpp
!*.hpp
!*.a
!*.bin
!*.h
!*.s
!*.vcproj
!*.vcxproj
!*.
!*.ini
!*.sln
!*.dll
!*.MD
!*MakeFile

# But do ignore these:
/Shared/gitrev.h
/priiloader/data/certs.bin
/priiloader/data/loader.bin
/priiloader/bootloader*
/priiloader/OpenDolBoot*
/Installer/data/priiloader.app
**/loader.bin
